node_modules/
**/node_modules/
.pnpm-store/

dist/
**/dist/
build/
**/build/
out/
**/out/
.remotion/
**/.remotion/
*.tsbuildinfo

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
